<h1>Issues</h1>
<table>
  <thead>
    <tr>
      <th class="table-headings">Title</th>
      <th class="table-headings">Issue</th>
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr data-id="<%= issue.id %>">
          <td>
            <%= issue.description %>
          </td>
          <td class="text-nowrap">
            <a href="./issues/<%= issue.id %>/update">Update</a>
            <a href="./issues/<%= issue.id %>/delete">Delete</a>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td>
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <tr>
    <td>
      <input class="form-check-input" type="checkbox" disabled />
    </td>
    <td class="text-nowrap">
      <a>Update</a>
      <a>Delete</a>
    </td>
  </tr>
</template>
