<h1>Update issue</h1>
<form method="post" action="./issues/<%= viewData?.id %>/update">
  <div>
    <label class="form-label" for="descriptionInput">
      Description
    </label>
    <input type="text" class="form-control" id="descriptionInput" name="description"
      placeholder="Update issue description here" value="<%= viewData?.description %>" required="required"
      autofocus="autofocus" />
  </div>
  <div>
    <button type="submit">Update</button>
  </div>
</form>
