html {
  min-height: 100%;
}

body {
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: serif;
}

h1 {
  font-size: 25px;
}

h1, h2, h3, a, p, ul{
  margin: 0;
  padding: 5px;
  text-decoration: none;
  color: #222;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-link {
  white-space: nowrap;
}

main {
  margin: 30px;
}

.row p {
  padding: 20px;
}

/* STYLES FOR SNIPPETS CREATE  */

form {
  max-width: 400px;
  margin: 0 auto;
}

input,
textarea {
  display: block;
  resize: none;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

label {
  display: block;
  margin-top: 24px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 120px;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

/* STYLES FOR SNIPPETS INDEX */

.table-container {
  width: 100%;
}

.table-headings {
  display: inline-block;
  justify-content: space-around;
  text-align: left;
  font-size: 20px;
  padding: 15px 20px;
}

.issue-single {
  display: block;
  width: 100%;
  border-bottom: 1.5px solid #ddd;
  border-top: 1.5px solid #ddd;
  padding: 5px 20px;
  margin: 10px;
}

#issue-avatar {
  max-width: 40px;
  border-radius: 50%;
}

#issue-title {
  width: 200px;
}

#issue-description {
  width: 600px;
  padding: 5px;
}

.action-options {
  display: block;
  margin-top: 10px;
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.action {
  background: crimson;
  color: white;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.action:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.hidden {
  display: none;
}
/* STYLES FOR FLASH MESSAGES */

.flash-message {
  font-size: 20px;
  font-weight: bold;
  color: crimson;
  text-align: center;
}

.footer {
  margin-top: auto;
  padding: 10px;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: crimson;
  border-radius: 10px;
}
