<header>
  <nav>
    <h1>Real time Issues &hearts;</h1>
    </button>
    <div>
      <ul>
        <li class="nav-item">
          <a class="nav-link" href="./">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./issues/">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./issues/create">Create Issue</a>
        </li>
      </ul>
    </div>
  </nav>
</header>