<div class="container">
  <div class="row">
    <div>
      <h2>
        Real time issue application &hearts;
      </h2>
      <p>
        Create issues and emit them real time	&#127827
      </p>
    </div>
    <div>
      <h2>
        Session
      </h2>
      <p>
        In computer science and networking in particular, a session is a temporary and interactive information interchange between two or more communicating devices, or between a computer and user &#127826
      </p>
    </div>
    <div>
      <h2>
        Flash messages
      </h2>
      <p>
        Keep you user in the loop &#127817
      </p>
    </div>
  </div>
  <hr />
</div>
<!-- /container -->
